<!-- Team Section -->
    <section id="party_print">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Party Print</h2>
                    <h3 class="section-subheading text-muted">Nos gustaría quedarnos con un recuerdo tuyo de este día tan especial. Habrá una impresora en la que podrás imprimir fotos desde tu móvil e incluirnos una dedicatoria en el album.</h3>
                    <h3 class="section-subheading text-muted">¡No olvides llevar la app instalada en tu movil!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <a href='https://play.google.com/store/apps/details?id=jp.co.dnp.partyphoto&gl=ES&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='img/google-play.png'/></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                        <a href="https://apps.apple.com/us/app/party-print/id558775741?mt=8"><img alt='Download on the App Store' src='img/ios.png'/></a>
                    </div>
                </div>
            </div>
        </div>
    </section>



