<!-- Team Section -->
    <section id="te_atreves" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">¿Te atreves?</h2>
                    <h3 class="section-subheading text-muted">Para darle un toque divertido a la fiesta, te proponemos...</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="img/team/pajarita.jpg" class="img-responsive img-circle" alt="">
                        <h4>Pajarita & tirantes</h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="img/team/tocado.jpg" class="img-responsive img-circle" alt="">
                        <h4>Tocado</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>