<!-- Services Section -->
    <section id="we">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Yami & Javi</h2>
                    <h3 class="section-subheading text-muted">
                        En un lugar de Santa Cruz de La Palma, cuyo día no recordamos, nos conocimos hace ya 14 años.
                        <br/><br/>
                        Entonces comenzo una bonita historia que ha durado hasta ahora, momento en el que hemos decidido dar un paso adelante y escribir un nuevo capitulo de nuestra vida.
                        <br/><br/>
                        Empezamos esta nueva etapa con mucha ilusion y nos gustaria compartirla con todos ustedes.
                    </h3>
                </div>
            </div>
        </div>
    </section>