<!-- Services Section -->
    <section id="que">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Yami & Javi</h2>
                    <h3 class="section-subheading text-muted">
                        En algun lugar de Santa Cruz de La Palma, cuyo día no podemos recordar, nos conocimos hace ya 14 años.
                        <br/>
                        Entonces comenzo una bonita historia que ha durado hasta ahora, momento en el que hemos decidido dar un paso adelante y celebrarlo junto a nuestros seres mas queridos.
                        <br/>
                        Comenzamos esta nueva etapa con mucha ilusion y nos gustaria iniciarla con una gran fiesta con todos ustedes.
                    </h3>
                </div>
            </div>
        </div>
    </section>