<!-- About Section -->
    <section id="when"  class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">¿Cuando?</h2>
                    <h3 class="section-subheading text-muted">24 de Agosto de 2019</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>12:00</h4>
                                    <h4 class="subheading">Ceremonia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">El evento comenzará con la ceremonia civil en la que formalizaremos nuestra compromiso.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>13:00</h4>
                                    <h4 class="subheading">Coctel</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Tras la ceremonia se ofrecerá un coctel en el que podrán refrescarse con algunas bebidas e ir abriendo boca.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>14:00</h4>
                                    <h4 class="subheading">Banquete</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Llega la hora de la comida, un menú elegido para la ocación del que esperamos que disfruten. No olvides comunicarnos si tienes alguna dieta especial o alergia alimentaria.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>18:00</h4>
                                    <h4 class="subheading">Fiesta</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Comienza la Fiesta! Es momento de empezar a mover las caderas, divertirse y darlo todo.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>¡Hasta que
                                    <br>el cuerpo
                                    <br>aguante!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>